<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lulwat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C455297F1BEA9BA9001D2149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45529931BEA9BA9001D2149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C455299E1BEA9BA9001D2149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
